
body {
    display: flex;
    flex-direction: column;
}

.base_fluid_container {
    height: calc(100vh - 100px);
}

.base_fluid_container::-webkit-scrollbar {
    display: none;
}

header,
footer {
    margin: 0;
    height: 40px;
}

.navbar-height-60 {
    height: 60px;
}

.main_footer {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.main_footer div {
    margin-left: auto;
    margin-right: 15px;
}
