{% if 'valid_user' in session %}
<main>
    <iframe name="metagroupes_hidden_iframe" style="display: none;"></iframe>
    <div class="base_fluid_container">
        <div class="container-fluid">
            <div class="row">
                <div class="col justify-content-center">
                    <div class="container-fluid">
                        <div class="metagropes_main_container">
                            {% if data %}
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th scope="col" class="text-center align-midle th-width">
                                        Класс
                                    </th>
                                    <th scope="col" class="text-center align-midle th-width">
                                        Предмет
                                    </th>
                                    <th scope="col" class="text-center align-midle th-width">
                                        Метагруппа
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <form id="metagroupes_form"
                                      action="{{ '/metagroupes_app/save_changes/{}'.format(parallel) }}"
                                      method="post"
                                      class="justify-content-center"
                                      target="metagroupes_hidden_iframe"
                                >
                                    {% for klass in data.keys() %}
                                        {% for meta_id, meta_group in data.get(klass).items() %}
                                            <tr>
                                                <td scope="col">
                                                    <span>
                                                        {{ klass }}
                                                    </span>
                                                </td>
                                                <td scope="col">
                                                    <span>
                                                        {{ meta_group.get('subject') }}
                                                    </span>
                                                </td>
                                                <td scope="col">
                                                    <input type="text"
                                                           name="{{ 'meta_{}'.format(meta_id) }}"
                                                           class="form-control no-border"
                                                           value="{{ meta_group.get('meta_name') }}"
                                                           required
                                                    >
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                </form>
                                </tbody>
                            </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endif %}