{% if 'valid_user' in session %}
    <main>
        <iframe name="classes_hidden_iframe" style="display: none;"></iframe>
        <div class="base_fluid_container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4 justify-content-center">
                        <div class="container-fluid">
                            <div class="classes_main_container">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endif %}