
.classes_main_container {
    overflow: auto;
    overflow-y: scroll;
    max-height: calc(100vh - 140px);
    min-height: calc(100vh - 140px);
    min-width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.classes_main_container::-webkit-scrollbar {
    display: none;
}

.classes_adding_tr {
    margin-bottom: 10px;
}
