{% if 'valid_user' in session %}
    <main>
        <iframe name="classes_hidden_iframe" style="display: none;"></iframe>
        <div class="base_fluid_container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4 justify-content-center">
                        <div class="container-fluid">
                            <div class="classes_main_container">
                                {% if data_HOO %}
                                    <h2>Начальное общее образование</h2>
                                    <table class="table table-bordered">
                                        {% if table_info %}
                                        <thead class="thead-dark">
                                        <tr>
                                            {% for item in range(1, table_info|length) %}
                                            <th scope="col" class="justify-content-center">
                                                {{ table_info[item] }}
                                            </th>
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        {% endif %}
                                        <tbody>
                                        {% for record in data_HOO %}
                                            <tr>
                                                <form   id="{{ 'classes_table_form_{}'.format(record.id) }}"
                                                            action="/classes_app/update_class/{{ record.id }}"
                                                            method="post"
                                                            class="justify-content-center"
                                                            target="classes_hidden_iframe"
                                                >
                                                    <td scope="col">

                                                            <input  type="text"
                                                                    name="{{ 'id_{}_{}'.format(record.id, row_table_info[1]) }}"
                                                                    class="form-control no-border"
                                                                    value="{{ record.name }}"
                                                                    onchange="submit()"
                                                                    required
                                                                >
                                                    </td>
                                                    <td scope="col">
                                                            <input  type="text"
                                                                    name="{{ 'id_{}_{}'.format(record.id, row_table_info[2]) }}"
                                                                    class="form-control no-border"
                                                                    value="{{ record.parallel }}"
                                                                    onchange="submit()"
                                                                    required
                                                            >
                                                    </td>
                                                    <td scope="col">
                                                            <input  type="text"
                                                                    name="{{ 'id_{}_{}'.format(record.id, row_table_info[3]) }}"
                                                                    class="form-control no-border"
                                                                    value="{{ record.max_hours }}"
                                                                    onchange="submit()"
                                                                    required
                                                            >
                                                    </td>
                                                    <td scope="col">
                                                            <input  type="text"
                                                                    name="{{ 'id_{}_{}'.format(record.id, row_table_info[4]) }}"
                                                                    class="form-control no-border"
                                                                    value="{{ record.students_num }}"
                                                                    onchange="submit()"
                                                                    required
                                                            >
                                                    </td>
                                                </form>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-4 justify-content-center">
                        <div class="container-fluid">
                            <div class="classes_main_container">
                                {% if data_OOO %}
                                    <h2>Основное общее образование</h2>
                                    <table class="table table-bordered">
                                        {% if table_info %}
                                        <thead class="thead-dark">
                                        <tr>
                                            {% for item in range(1, table_info|length) %}
                                            <th scope="col" class="justify-content-center">
                                                {{ table_info[item] }}
                                            </th>
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        {% endif %}
                                        <tbody>
                                        {% for record in data_OOO %}
                                            <tr>
                                                <form   id="{{ 'classes_table_form_{}'.format(record.id) }}"
                                                            action="/classes_app/update_class/{{ record.id }}"
                                                            method="post"
                                                            class="justify-content-center"
                                                            target="classes_hidden_iframe"
                                                >
                                                    <td scope="col">
                                                        
                                                            <input  type="text"
                                                                    name="{{ 'id_{}_{}'.format(record.id, row_table_info[1]) }}"
                                                                    class="form-control no-border"
                                                                    value="{{ record.name }}"
                                                                    onchange="submit()"
                                                                    required
                                                                >
                                                    </td>
                                                    <td scope="col">
                                                            <input  type="text"
                                                                    name="{{ 'id_{}_{}'.format(record.id, row_table_info[2]) }}"
                                                                    class="form-control no-border"
                                                                    value="{{ record.parallel }}"
                                                                    onchange="submit()"
                                                                    required
                                                            >
                                                    </td>
                                                    <td scope="col">
                                                            <input  type="text"
                                                                    name="{{ 'id_{}_{}'.format(record.id, row_table_info[3]) }}"
                                                                    class="form-control no-border"
                                                                    value="{{ record.max_hours }}"
                                                                    onchange="submit()"
                                                                    required
                                                            >
                                                    </td>
                                                    <td scope="col">
                                                            <input  type="text"
                                                                    name="{{ 'id_{}_{}'.format(record.id, row_table_info[4]) }}"
                                                                    class="form-control no-border"
                                                                    value="{{ record.students_num }}"
                                                                    onchange="submit()"
                                                                    required
                                                            >
                                                    </td>
                                                </form>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-4 justify-content-center">
                        <div class="container-fluid">
                            <div class="classes_main_container">
                                {% if data_COO %}
                                    <h2>Среднее общее образование</h2>
                                    <table class="table table-bordered">
                                        {% if table_info %}
                                        <thead class="thead-dark">
                                        <tr>
                                            {% for item in range(1, table_info|length) %}
                                            <th scope="col" class="justify-content-center">
                                                {{ table_info[item] }}
                                            </th>
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        {% endif %}
                                        <tbody>
                                        {% for record in data_COO %}
                                            <tr>
                                                <form   id="{{ 'classes_table_form_{}'.format(record.id) }}"
                                                            action="/classes_app/update_class/{{ record.id }}"
                                                            method="post"
                                                            class="justify-content-center"
                                                            target="classes_hidden_iframe"
                                                >
                                                    <td scope="col">

                                                            <input  type="text"
                                                                    name="{{ 'id_{}_{}'.format(record.id, row_table_info[1]) }}"
                                                                    class="form-control no-border"
                                                                    value="{{ record.name }}"
                                                                    onchange="submit()"
                                                                    required
                                                                >
                                                    </td>
                                                    <td scope="col">
                                                            <input  type="text"
                                                                    name="{{ 'id_{}_{}'.format(record.id, row_table_info[2]) }}"
                                                                    class="form-control no-border"
                                                                    value="{{ record.parallel }}"
                                                                    onchange="submit()"
                                                                    required
                                                            >
                                                    </td>
                                                    <td scope="col">
                                                            <input  type="text"
                                                                    name="{{ 'id_{}_{}'.format(record.id, row_table_info[3]) }}"
                                                                    class="form-control no-border"
                                                                    value="{{ record.max_hours }}"
                                                                    onchange="submit()"
                                                                    required
                                                            >
                                                    </td>
                                                    <td scope="col">
                                                            <input  type="text"
                                                                    name="{{ 'id_{}_{}'.format(record.id, row_table_info[4]) }}"
                                                                    class="form-control no-border"
                                                                    value="{{ record.students_num }}"
                                                                    onchange="submit()"
                                                                    required
                                                            >
                                                    </td>
                                                </form>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- HTML-код модального окна -->
        <div id="classes_add_new_record" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Заголовок модального окна -->
                    <div class="modal-header">
                        <h4 class="modal-title">Добавление класса</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <!-- Основное содержимое модального окна -->
                    <div class="modal-body">
                        <form id='add_new_class'
                              action="/classes_app/add_new_class"
                              method="post"
                              class="justify-content-center">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td scope="col">
                                            <input type="text"
                                                   name="ClassName"
                                                   class="form-control no-border"
                                                   placeholder="Название класса"
                                                   required
                                            >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="col">
                                            <input type="text"
                                                   name="Parallel"
                                                   class="form-control no-border"
                                                   placeholder="Параллель"
                                                   required
                                            >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="col">
                                            <input type="text"
                                                   name="max_hours"
                                                   class="form-control no-border"
                                                   placeholder="Количество часов"
                                                   required
                                            >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="col">
                                            <input type="text"
                                                   name="students_num"
                                                   class="form-control no-border"
                                                   placeholder="Количество обучающихся"
                                                   required
                                            >
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <!-- Футер модального окна -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button form="add_new_class" type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endif %}