.fill_up_main_container {
    max-height: calc(100vh - 140px);
    min-height: calc(100vh - 140px);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: auto;
}

.no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
    background: transparent;
}

.th_width_350 {
    min-width: 350px;
    max-width: 350px;
}
