
.subjects_main_container {
    overflow: auto;
    overflow-y: scroll;
    max-height: calc(100vh - 100px);
    min-height: calc(100vh - 100px);
    min-width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.subjects_main_container::-webkit-scrollbar {
    display: none;
}

.subjects_adding_tr {
    margin-bottom: 10px;
}

.no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
    background: transparent;
}

.full_size {
    min-height: calc(100vh - 100px);
    max-height: calc(100vh - 100px);
}

.overflowed {
    overflow-x: hidden;
    overflow-y: auto;
}

.overflowed::-webkit-scrollbar {
    display: none;
}