<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница не найдена!</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://img.icons8.com/windows/64/000000/monitor.png" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/404_error.css') }}">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Oops!</h1>
                    <h2>
                        404 Страница не найдена</h2>
                    <div class="error-details">
                        Произошла ошибка! Запрашиваемая страница не была найдена!
                    </div>
                    <div class="error-actions">
                        <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                            Вернуться на главную
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
