{% extends 'base.html' %}

{% block title %} Система распределения нагрузки {% endblock %}

{% block static_files %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main_app.css') }}"/>
{% endblock %}

{% block header_content %}
    <header>
        
    </header>
{% endblock %}

{% block main_content %}

    {% if 'valid_user' in session %}
        <main>
            <div class="base_fluid_container">
                <div class="div_background">
                    <a href="/fill" class="btn main_btn">
                        <div>
                            <img src="https://img.icons8.com/wired/64/000000/edit-property.png"/>
                        </div>
                        <div>
                            <p>Заполнение УП</p>
                        </div>

                    </a>
                    <a href="/itog" class="btn main_btn">
                        <div>
                            <img src="https://img.icons8.com/dotty/80/000000/view.png"/>
                        </div>
                        <div>
                            <p>Итоговая нагрузка</p>
                        </div>
                    </a>
                </div>
            </div>
        </main>
    {% endif %}

{% endblock %}

{% block footer_content %}
    <footer>
        <div class="main_footer">
            <div>Пользователь: {{ session.get('login') }} <a href="/login_app/logout" class="btn btn-secondary" role="button" style="margin-left: 20px;">Выход</a></div>
        </div>
    </footer>
{% endblock %}
